{% load static %}
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-3" style="height: 400px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-primary mr-2" style="height: 40px; width: 40px;">
                            <i class="fa fa-2x fa-map-marker-alt text-white" style="font-size: 25px;"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Our Location</h4>
                            <p class="m-0">{{projectpeak_academia.address}}</p>
                        </div>
                    </div>
                    <a href="tel:{{projectpeak_academia.phone_number}}" style="color:#898796; text-decoration: none;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-secondary mr-2" style="height: 40px; width: 40px;">
                            <i class="fa fa-2x fa-phone-alt text-white" style="font-size: 25px;"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Call Us</h4>
                            <p class="m-0">{{projectpeak_academia.phone_number}}</p>
                        </div>
                    </div>
                    </a>
                    <a href="mailto:{{projectpeak_academia.email}}" style="color:#898796; text-decoration: none;">
                    <div class="d-flex align-items-center">
                        
                        <div class="btn-icon bg-warning mr-2" style="height: 40px; width: 40px;">
                            <i class="fa fa-2x fa-envelope text-white" style="font-size: 25px;"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Email Us</h4>
                            <p class="m-0" style="font-size:12.4px;">{{projectpeak_academia.email}}</p>
                        </div>
                        
                    </div>
                    </a>
                </div>
            </div>
            {% include 'contact_form.html' %}
        </div>
    </div>
</div>
<script>
    window.addEventListener('pageshow', function(event) {
        const textFields = document.querySelectorAll('.form-control');
        textFields.forEach(function(field) {
            field.value = '';
        });

        const textarea = document.querySelector('textarea[name="project_details"]');
        if (textarea) {
            textarea.value = '';
        }

        const selectField = document.querySelector('select[name="educational_level"]');
        if (selectField) {
            selectField.selectedIndex = 0;
        }
    });
</script>
