<div class="mb-5 container" style="margin-top: 50px;">
    <h4 class="mb-3">FREQUENTLY ASKED QUESTIONS</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>What if I have a fresh topic not available on the website?</strong><br>
            No worries, you can <a href="https://www.projectpeakacademia.com/hire_us/">hire a professional writer</a> to work on your custom project.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>How fast can I get the complete project?</strong><br>
            We ensure prompt delivery of projects. You will receive your complete project within 15 minutes.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>Is the project a complete research or just materials?</strong><br>
            The project we provide is complete and comprehensive project, containing all the necessary research and materials for your study.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>Can I change the case study in the project to suit my needs?</strong><br>
            Yes, you can <a href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects.">contact</a> us to discuss any changes or customizations you need for the project.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>How will I receive the complete project once payment is confirmed?</strong><br>
            Once your payment is confirmed, the complete project will be sent to your email or WhatsApp, whichever you prefer.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>What if my project supervisor makes changes to the topic?</strong><br>
            If your project supervisor requests any changes to the topic, you can <a href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects.">contact us</a>, and we'll make the necessary adjustments.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>Do you also assist students with assignments and proposals?</strong><br>
            Yes, we provide assistance with assignments and proposals. Feel free to <a href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects.">contact us</a> for more details.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>What if I don't have a project idea yet? Can you mentor me?</strong><br>
            Absolutely! We offer mentoring services to help you develop a unique and exciting project idea based on your interests and academic goals.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>How can I trust the projects on your website?</strong><br>
            You can trust our projects as they are well-researched by professionals in their respective fields. We uphold the highest standards of academic integrity and quality.
            We take pride in delivering high-quality projects prepared by experts. Our reputation and customer reviews speak for themselves. You can trust us to provide you with exceptional work.
        </li>
        <li class="list-group-item px-0">
            <i class="faq-icon fas fa-question-circle"></i>
            <strong>Can ProjectPeak Academia be trusted to deliver?</strong><br>
            Absolutely! ProjectPeak Academia is a registered company with the Corporate Affairs Commission(CAC) under registration number <i class="fas fa-registered"></i> 6862967. You can be assured of our legitimacy and commitment to maintaining the highest standards of professionalism and integrity. Rest assured, when you engage with us, you are dealing with a reputable and trustworthy organization.
        </li>
    </ul>
</div>