{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="RGenNgk6db7m3UqxqhvLPZ85chRcGpahNCgv2Y0VI8k" />
    <meta name="description" content="{{projectpeak_academia.about}}">
    <meta name="keywords" content="ProjectPeak Academia, online education, courses, projects, learning, expert instructors, innovative experience, final year project, paid project, graduation, faculty project, departmental project, university, univeristy course, univeristy project">
    <meta name="author" content="DevDynamics">
    <title>ProjectPeak Academia</title>

    <meta property="og:title" content="ProjectPeak Academia">
    <meta property="og:description" content="{{projectpeak_academia.description}}">
    <meta property="og:image" content="{% static 'img/logo.jpg' %}">
    <meta property="og:url" content="https://www.projectpeakacademia.com">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="ProjectPeak Academia">
    <meta name="twitter:description" content="{{projectpeak_academia.description}}">
    <meta name="twitter:image" content="{% static 'img/logo.jpg' %}">
    <meta name="twitter:card" content="{% static 'img/logo.jpg' %}">

    <!-- Favicon -->
    <link href="{% static 'img/logo.jpg' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>
<style>
    .preloader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
</style>

<body>
    <div class="preloader-overlay">
        <i class="fas fa-spinner fa-spin" style="font-size: 100px; color: #007bff;"></i>
    </div>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <a href="tel:{{projectpeak_academia.phone_number}}" style="text-decoration:none; color:white;font-size:14px;"><small><i class="fa fa-phone-alt mr-2"></i>{{projectpeak_academia.phone_number}}</small></a>
                    <small class="px-3">|</small>
                    <a href="mailto:{{projectpeak_academia.email}}" style="text-decoration:none; color:white; font-size:14px;"><small><i class="fa fa-envelope mr-2"></i>{{projectpeak_academia.email}}</small></a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" target="_blank" href="{{projectpeak_academia.facebook_url}}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="http://twitter.com/{{projectpeak_academia.twitter_username}}">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects.">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="https://instagram.com/{{ projectpeak_academia.instagram_username }}?igshid=YmMyMTA2M2Y=">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="/" class="navbar-brand ml-lg-3">
                <h5 class="m-0 text-uppercase text-primary"><i class="fa fa-graduation-cap mr-3" style="font-size:30px;"></i>ProjectPeak <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Academia</h5>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a onclick='showPreloader(event)' href="/" class="nav-item nav-link {% if request.path == "/" %}active{% endif %}">Home</a>
                    <a onclick='showPreloader(event)' href="{% url 'all_courses' %}" class="nav-item nav-link {% if request.path == "/all_courses/" %}active{% endif %}">All Courses</a>
                    <a onclick='showPreloader(event)' href="{% url 'all_projects' %}" class="nav-item nav-link {% if request.path == "/all_projects/" %}active{% endif %}">All Projects</a>
                    <a onclick='showPreloader(event)' href="{% url 'about' %}" class="nav-item nav-link {% if request.path == "/about/" %}active{% endif %}">About</a>
                    <a onclick='showPreloader(event)' href="{% url 'features' %}" class="nav-item nav-link {% if request.path == "/features/" %}active{% endif %}">Our Features</a>
                    <a onclick='showPreloader(event)' href="{% url 'testimonials' %}" class="nav-item nav-link {% if request.path == "/testimonials/" %}active{% endif %}">Testimonials</a>
                    <a onclick='showPreloader(event)' href="{% url 'hire_us' %}" class="nav-item nav-link {% if request.path == "/hire_us/" %}active{% endif %}">Hire Us</a>
                    <a onclick='showPreloader(event)' href="{% url 'faq' %}" class="nav-item nav-link {% if request.path == "/faq/" %}active{% endif %}">FAQs</a>
                    <a onclick='showPreloader(event)' href="{% url 'our_services' %}" class="nav-item nav-link {% if request.path == "/our_services/" %}active{% endif %}">Our Services</a>
                    <a onclick='showPreloader(event)' href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == "/contact/" %}active{% endif %}">Contact</a>
                </div>
                <a target="_blank" href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects." class="btn btn-primary py-2 px-4 d-none d-lg-block">Contact Us</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    {% block content %}

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Discover Your Projects:</h1>
            <h1 class="text-white display-1 mb-5">Search, Choose, Excel!</h1>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px; border-radius:20px;">
                <form action="{% url 'search_courses' %}" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-light bg-white text-body px-4" type="button">Courses</button>
                        </div>
                        <input type="text" name="q-courses" class="form-control border-light" style="padding: 30px 25px;" placeholder="Search Courses">
                        <div class="input-group-append" onclick='showPreloader(event)'>
                            <button class="btn btn-secondary px-4 px-lg-5" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <br><br>
                <form action="{% url 'search_projects' %}" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-light bg-white text-body px-4" type="button">Projects</button>
                        </div>
                        <input type="text" name="q-projects" class="form-control border-light" style="padding: 30px 25px;" placeholder="Search Projects">
                        <div class="input-group-append" onclick='showPreloader(event)'>
                            <button class="btn btn-secondary px-4 px-lg-5" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Header End -->

    {% include 'course_content.html' %}

    <br><br>
    <div class="container">
        <a data-fancybox href="{% static 'img/banner.jpg' %}"><img src="{% static 'img/banner.jpg' %}" width="100%" height="100%"></a>
    </div>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">First Choice For Projects That Ignite Imagination</h1>
                    </div>
                    <p>{{ projectpeak_academia.about|truncatechars:315 }} <a onclick='showPreloader(event)' href="{% url 'about' %}">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->

    {% include 'features_content.html' %}
    <!-- Feature End -->

    <!-- Testimonials Start -->
    {% include 'testimonials_content.html' %}
    <!-- Testimonials End -->

    {% include 'faq_content.html' %}


    <!-- Contact Start -->
    {% include 'contact_content.html' %}
    <!-- Contact End -->

    {% endblock content %}

    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a onclick='showPreloader(event)' href="/" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-graduation-cap mr-3"></i>ProjectPeak <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Academia</h1>
                    </a>
                    <p class="m-0">{{projectpeak_academia.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    {% if projectpeak_academia.address %}<p><i class="fa fa-map-marker-alt mr-2"></i>{{projectpeak_academia.address}}</p>{% endif %}
                    <a href="tel:{{projectpeak_academia.phone_number}}" style="text-decoration:none; color:#898796;"><p><i class="fa fa-phone-alt mr-2"></i>{{projectpeak_academia.phone_number}}</p></a>
                    <a href="mailto:{{projectpeak_academia.email}}" style="text-decoration:none; color:#898796; font-size: 15px;"><p><i class="fa fa-envelope mr-2"></i>{{projectpeak_academia.email}}</p></a>
                    <div class="d-flex justify-content-start mt-4">
                        <a target="_blank" class="text-white mr-4" href="http://twitter.com/{{projectpeak_academia.twitter_username}}"><i class="fab fa-2x fa-twitter"></i></a>
                        <a target="_blank" class="text-white mr-4" href="{{projectpeak_academia.facebook_url}}"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a target="_blank" class="text-white mr-4" href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects."><i class="fab fa-2x fa-whatsapp"></i></a>
                        <a target="_blank" class="text-white" href="https://instagram.com/{{ projectpeak_academia.instagram_username }}?igshid=YmMyMTA2M2Y="><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a onclick='showPreloader(event)' class="text-white-50 mb-2" href="{% url 'about' %}"><i class="fa fa-angle-right mr-2"></i>About</a>
                        <a onclick='showPreloader(event)' class="text-white-50 mb-2" href="{% url 'features' %}"><i class="fa fa-angle-right mr-2"></i>Features</a>
                        <a onclick='showPreloader(event)' class="text-white-50 mb-2" href="{% url 'faq' %}"><i class="fa fa-angle-right mr-2"></i>Regular FAQs</a>
                        <a onclick='showPreloader(event)' class="text-white-50 mb-2" href="{% url 'testimonials' %}"><i class="fa fa-angle-right mr-2"></i>Testimonials</a>
                        <a onclick='showPreloader(event)' class="text-white-50" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Copyright &copy; <a onclick='showPreloader(event)' class="text-white" href="/">ProjectPeak Academia</a>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0">Designed and Developed by <a onclick='showPreloader(event)' class="text-white" href="https://www.fiverr.com/islamsanni">DevDynamics</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!--WhatsApp-->
    <a href="https://wa.me/{{ projectpeak_academia.whatsapp_number }}?text=Hello%20ProjectPeak%20Academia,%20I%20have%20a%20question%20about%20your%20projects."><img src="{% static 'img/WhatsApp.png' %}" alt="WhatsApp" style="border-radius:50%; width: 50px; height: 50px; bottom: 30px; right: 16px; z-index: 11; position: fixed;"></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!--Preloader-->
    <script>
        $(document).ready(function () {
            $(".preloader-overlay").hide();
          });

        function showPreloader(event) {
            if (navigator.onLine) {
              $(".preloader-overlay").show();
          
              window.onpageshow = function(event) {
                if (event.persisted) {
                  $(".preloader-overlay").hide();
                }
              };
            } else {
              alert("You are currently offline. Please check your internet connection.");
              event.preventDefault();
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>

</html>