<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonials</h6>
                    <h1 class="display-4">What Our Customers Say</h1>
                </div>
                <p class="m-0">Read what our students have to say about their transformative experiences with ProjectPeak Academia. Discover how our engaging projects and expert instructors have inspired a love for learning and ignited imaginations.</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>ProjectPeak Academia's projects have been eye-opening and fun. As a student of engineering, I appreciate the practical approach to learning that the platform offers. It has broadened my perspective and honed my problem-solving skills. I can't recommend it enough!</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Chinelo Okoye</h5>
                                <span>University of Lagos</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>Studying with ProjectPeak Academia has been an enriching experience. The platform's projects are not only educational but also practical and relevant to real-life scenarios. I've gained valuable skills that I can apply in my future career. Kudos to the team!</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Zainab Abdullahi</h5>
                                <span>Ahmadu Bello University</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>ProjectPeak Academia has been a breath of fresh air for me. The projects are intellectually stimulating and well-designed. The instructors are supportive and approachable, making the learning experience enjoyable. I'm grateful for the opportunities to grow and excel in my studies.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Emeka Okafor</h5>
                                <span>Obafemi Awolowo University</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>ProjectPeak Academia's projects have given me the chance to explore diverse subjects beyond my academic curriculum. The interactive nature of the projects keeps me engaged and motivated to learn. It's been a fantastic journey of discovery and growth.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Oluwatobi Adekunle</h5>
                                <span>University of Ibadan</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p> I was amazed by the speed at which ProjectPeak Academia delivered my project. I had a tight deadline, and they not only met it but also exceeded my expectations. Their efficiency and commitment to prompt delivery allowed me to focus on other aspects of my studies. I'm grateful for their dedication and professionalism. It's truly a place where learning meets excellence.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Ibrahim Adekunle</h5>
                                <span>University of Ilorin</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>ProjectPeak Academia's projects have been a game-changer in my learning process. The practical approach and hands-on activities have made complex concepts easy to understand. I appreciate the support and encouragement from the instructors.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Abdul Ibrahim</h5>
                                <span>Bayero University Kano</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>I'm impressed by the range of projects offered by ProjectPeak Academia. Each project is well-curated and designed to enhance practical skills. The platform has positively impacted my academic performance and career prospects.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Olumide Adeyemi</h5>
                                <span>Federal University of Technology, Akure</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>Learning with ProjectPeak Academia has been inspiring and rewarding. The projects have boosted my confidence and motivated me to pursue my interests with passion. I feel more prepared to tackle real-world challenges in my field of study.</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <div>
                                <h5>Adaora Chukwu</h5>
                                <span>University of Abuja</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>